# Ignore node_modules and package-lock
node_modules/
package-lock.json

# Ignore everything in theme by default
shopify/*

# Unignore the folders we want to keep
!shopify/assets/
!shopify/templates/

# Ignore everything inside templates and assets
shopify/assets/*
shopify/templates/*

# Unignore only the two specific files in theme/templates
!shopify/assets/tailwind.css
!shopify/templates/page.macro-calculator.liquid
